@using Model;
@model Model.PageInfo<tb_FileInfo>
<div id="div_filemanager_pager">
    <div id="div_filemanager_list">
        <div id="div_filemanager_list_header">
            <div id="div_filemanager_list_header_search">
                <input class="search" type="search" placeholder="输入关键字查询" value="@Model.keywords" />
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        搜索 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a onclick="searchbtn('MyFile')">我的文件</a></li>
                        <li><a onclick="searchbtn('SurveyingUnitName')">测绘单位名称</a></li>
                        <li><a onclick="searchbtn('CoodinateSystem')">坐标信息框架</a></li>
                        <li><a onclick="searchbtn('ProjectName')">所属项目名称</a></li>
                        <li><a onclick="searchbtn('FinishPerson')">完成人名称</a></li>
                        <li><a onclick="searchbtn('Finishtime')">完成时间</a></li>
                        <li><a onclick="searchbtn('UploadTime')">上传时间</a></li>
                        <li><a onclick="searchbtn('FileName')">文件名</a></li>
                    </ul>
                </div>
            </div>
            <div id="div-powerserch">
                <input onclick="powerSerch()" class="button" type="button" value="高级检索" />
            </div>
            <div id="div_filemanager_list_header_upload">
                <input onclick="uploadFile()" class="button"  type="button" value="上传文件" />
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    选择
                </th>
                <th>
                    文件名称
                    <a class="img-sort" onclick="sort('FileName',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    完成时间
                    <a class="img-sort" onclick="sort('Finishtime',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    完成人
                    <a class="img-sort" onclick="sort('FinishPerson',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    测绘单位名称
                    <a class="img-sort" onclick="sort('SurveyingUnitName',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    坐标系统
                    <a class="img-sort" onclick="sort('PcoodinateSystem',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    文件类型
                    <a class="img-sort" onclick="sort('FileType',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    项目类型
                    <a class="img-sort" onclick="sort('ProjectType',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    中央子午线
                    <a class="img-sort" onclick="sort('CenterMeridian',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    文件大小
                    <a class="img-sort" onclick="sort('FileSize',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th>
                    上传时间
                    <a class="img-sort" onclick="sort('UploadTime',this)"></a>
                    <a class="img-close" onclick="thclose(this)"></a>
                </th>
                <th style="min-width: 125px;">
                    操作
                </th>
            </tr>

            @foreach (var item in Model.pageList)
            {
                <tr id="@item.ID">
                    <td>
                        <img class="select_img" onclick="selectimg(this)" src="~/Sources/Images/select.png" />
                    </td>
                    <td id="file_@item.ID" width="250px">
                        @item.FileName
                    </td>
                    <td>
                        @(item.Finishtime)
                    </td>
                    <td>
                        @(item.FinishPerson)
                    </td>
                    <td>
                        @item.SurveyingUnitName
                    </td>
                    <td>
                        @item.PcoodinateSystem
                    </td>
                    <td>
                        @item.FileType
                    </td>
                    <td>
                        @item.ProjectType
                    </td>
                    <td>
                        @item.CenterMeridian
                    </td>
                    <td>
                        @(item.FileSize.ToString("f3") + " M")
                    </td>
                    <td>
                        @(item.UploadTime.Split(' ')[0])
                    </td>
                    <td>
                        <a class="a-delete-button" onclick="deleteFile(@item.ID)">
                            删除
                        </a>
                        <a onclick="downloadFile(@item.ID)">
                            下载
                        </a>
                        @Html.ActionLink("缩略图","ShowImage",new { id = item.ID },new { target = "_blank" })
                </tr>
            }
        </table>
        <div id="div_filemanager_list_footer">
            <div id="footer_left">
                <img class="select_img" src="~/Sources/Images/select.png" onclick="selectallimg(this)" />
                <p style="display:inline">全选</p>
                <a class="a-delete-button" onclick="deleteFiles()">
                    删除
                </a>
                <a onclick="downloadFiles()">
                    下载
                </a>
            </div>
            <div id="footer_right">
                <input id="footer-right-btn1" onclick="refresh(1)" class="button" type="button" value="首页" />
                <input id="footer-right-btn2" onclick="refresh(@(Model.pageIndex - 1))" class="button" type="button" value="上一页" />
                <input id="footer-right-btn4" onclick="refresh(@(Model.pageIndex + 1))" class="button" type="button" value="下一页" />
                <input id="footer-right-btn5" onclick="refresh(@Model.totalPage)" class="button" type="button" value="尾页" />
            </div>
        </div>
    </div>
</div>
<p>共 @Model.totalPage 页 每页 @Model.pageSize 条 第 @Model.pageIndex 页 </p>
<script>
    $(document).ready(function () {
        if (@Model.pageIndex <= 1) {
            $("#footer-right-btn2").attr("disabled", "true");
            $("#footer-right-btn2").css("background-color", "#5090C7");
            $("#footer-right-btn1").attr("disabled", "true");
            $("#footer-right-btn1").css("background-color", "#5090C7");
        }
        else if (@Model.pageIndex == @Model.totalPage)
        {
            $("#footer-right-btn4").attr("disabled", "true");
            $("#footer-right-btn4").css("background-color", "#5090C7");
            $("#footer-right-btn5").attr("disabled", "true");
            $("#footer-right-btn5").css("background-color", "#5090C7");
        }
        else {
            $("#footer-right-btn2").removeAttr("disabled");
            $("#footer-right-btn4").removeAttr("disabled");
            $("#footer-right-btn1").removeAttr("disabled");
            $("#footer-right-btn5").removeAttr("disabled");
            $("#footer-right-btn2").css("background-color", "#0972A7");
            $("#footer-right-btn4").css("background-color", "#0972A7");
            $("#footer-right-btn1").css("background-color", "#0972A7");
            $("#footer-right-btn5").css("background-color", "#0972A7");
        }
        if (@Model.totalPage <= 1) {
            $("#footer-right-btn4").attr("disabled", "true");
            $("#footer-right-btn4").css("background-color", "#5090C7");
            $("#footer-right-btn5").attr("disabled", "true");
            $("#footer-right-btn5").css("background-color", "#5090C7");
        }
       
    });
    function thclose(e)
    {
        $(e).parent().css("display", "none");
        var index = $(e).parent().prevAll().length + 1;
        var tds = $(".table td:eq(" + index + ")");
        $(".table tr td:nth-child(" + index + ")").css("display", "none");
        var indexNew = new Array();
        indexNew[0] = index;
        var indexOldStr = sessionStorage.getItem("index");

        if (indexOldStr == null)
        {
            sessionStorage.setItem("index",JSON.stringify(indexNew));
        }
        else
        {
            var indexOld = JSON.parse(indexOldStr);
            sessionStorage.setItem("index",JSON.stringify(indexOld.concat(indexNew)));
        }
    }
</script>